@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-season-mix: 'Season Mix', sans-serif;
  --font-season-sans: 'Season Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #1a1a1a;
}

body {
  font-family: var(--font-season-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-season-mix);
}

